<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>QSL cards</title>
  <link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>

<body>
  {% for qso in qsos %}
  <div class=wrapper>
    <div class="destination">
      <table>
        <tbody>
          <tr>
            <td class="to-radio">To Radio</td>
            <td rowspan="2" class="frame">{{ qso.transfer_callsign[:1] }}</td><td rowspan="2" class="separator"></td>
            <td rowspan="2" class="frame">{{ qso.transfer_callsign[1:2] }}</td><td rowspan="2" class="separator"></td>
            <td rowspan="2" class="frame">{{ qso.transfer_callsign[2:3] }}</td><td rowspan="2" class="separator"></td>
            <td rowspan="2" class="frame">{{ qso.transfer_callsign[3:4] }}</td><td rowspan="2" class="separator"></td>
            <td rowspan="2" class="frame">{{ qso.transfer_callsign[4:5] }}</td><td rowspan="2" class="separator"></td>
            <td rowspan="2" class="frame">{{ qso.transfer_callsign[5:6] }}</td>
          </tr>
          <tr>
            <td class="callsign">{{ qso.callsign }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="qso-information">
      <div class="above-table">
        <div class="cfm-our-qso">confirming our QSO</div>
      </div>
      <table>
        <thead>
          <tr>
            <th class="date">Date</th>
            <th>Time</th>
            <th>RST</th>
            <th>Band</th>
            <th>Mode</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% if print_timezone %}
              {% set tz_datetime = qso.datetime.replace(tzinfo=print_timezone) %}
              <td>{{ tz_datetime.strftime('%d/%b/%Y') }}</td>
              <td><span class="tz-name">{{ print_timezone }}</span><br/>{{ tz_datetime.strftime('%H:%M') }}</td>
            {% else %}
              <td>{{ qso.datetime.strftime('%d/%b/%Y') }}</td>
              <td>{{ qso.datetime.strftime('%H:%M') }}</td>
            {% endif %}
            <td>{{ qso.rst_sent }}</td>
            <td>{{ qso.band }}</td>
            <td>{{ qso.mode }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="station-information">
      <table>
        <tbody>
          {% if my_station and my_station.callsign %}
          <tr>
            <th>Call:</th>
            <td>
              {{ my_station.callsign }}
            </td>
          </tr>
          {% endif %}

          {% if my_station and my_station.op_name %}
          <tr>
            <th>Op:</th>
            <td>
              {{ my_station.op_name }}
            </td>
          </tr>
          {% endif %}

          {% if qso.my_rig or my_station and my_station.rig %}
          <tr>
            <th>Rig:</th>
            <td>
              {% if my_station and my_station.rig %}
                {{ my_station.rig }}
              {% else %}
                {{ qso.my_rig }}
              {% endif %}
            </td>
          </tr>
          {% endif %}

          {% if qso.my_antenna or my_station and my_station.ant %}
          <tr>
            <th>Ant:</th>
            <td>
              {% if my_station and my_station.ant[qso.band] %}
                {{ my_station.ant[qso.band] }}
              {% else %}
                {{ qso.my_antenna }}
              {% endif %}
            </td>
          </tr>
          {% endif %}

          {% if qso.my_qth or my_station and my_station.qth %}
          <tr>
            <th>QTH:</th>
            <td>
              {% if my_station and my_station.qth %}
                {{ my_station.qth }}
              {% else %}
                {{ qso.my_qth }}
              {% endif %}
            </td>
          </tr>
          {% endif %}

          {% if qso.comment %}
          <tr>
            <th>Rmks:</th>
            <td>{{ qso.comment }}</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
  {% endfor %}
</body>

</html>
