<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>QSL cards</title>
  <link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>

<body>
  {% for qso in qsos %}
  <div class=wrapper>
    <div class="destination">
      <table>
        <tbody>
          <tr>
            <td class="to-radio">To Radio</td>
            <td rowspan="2" class="frame">{{ qso.callsign[:1] }}</td><td rowspan="2" class="separator"></td>
            <td rowspan="2" class="frame">{{ qso.callsign[1:2] }}</td><td rowspan="2" class="separator"></td>
            <td rowspan="2" class="frame">{{ qso.callsign[2:3] }}</td><td rowspan="2" class="separator"></td>
            <td rowspan="2" class="frame">{{ qso.callsign[3:4] }}</td><td rowspan="2" class="separator"></td>
            <td rowspan="2" class="frame">{{ qso.callsign[4:5] }}</td><td rowspan="2" class="separator"></td>
            <td rowspan="2" class="frame">{{ qso.callsign[5:6] }}</td>
          </tr>
          <tr>
            <td class="callsign">{{ qso.callsign }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="qso-information">
      <div class="above-table">
        <div class="cfm-our-qso">confirming our QSO</div>
      </div>
      <table>
        <thead>
          <tr>
            <th class="date">Date</th>
            <th>Time</th>
            <th>RST</th>
            <th>Band</th>
            <th>Mode</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ qso.datetime.strftime('%d/%b/%Y') }}</td>
            <td>{{ qso.datetime.strftime('%H:%M') }}</td>
            <td>{{ qso.rst_sent }}</td>
            <td>{{ qso.band }}</td>
            <td>{{ qso.mode }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="station-information">
      <div class="rig">
        <div class="name">Rig: {{ qso.my_rig }}</div>
        <div class="output">{{ qso.power }}</div>
      </div>
      <div class="antenna">
        <div class="name">Ant: {{ qso.my_antenna }}</div>
        <div class="ground-height">{{ qso.groundHeight }}</div>
      </div>
      <div class="qth">
        <div>QTH: {{ qso.my_qth }}</div>
      </div>
      <div class="remarks">
        <div>Rmks: {{ qso.comment }}</div>
      </div>
    </div>
  </div>
  {% endfor %}
</body>

</html>
